{% extends 'layouts/marketplace.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <section class="container-fluid py-5 mt-5 mb-lg-4 mb-xl-5" >
        <!-- Breadcrumb -->
        {% comment %} <nav aria-label="breadcrumb">
            <ol class="pt-lg-3 pb-2 breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#"> {% translate 'Accueil' %} </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"> {% translate 'Marketplace' %} </li>
            </ol>
        </nav> {% endcomment %}

        <!-- Banner -->
        {% comment %} <section class="rounded-1 overflow-hidden mb-5"  data-bs-theme="light" style="background-image: url({% static 'theme/img/hero-bg.png' %}); height: 40pc;"> {% endcomment %}
        <section class="rounded-1 overflow-hidden mb-5"  data-bs-theme="light" style="background-image: url({% static 'img/pncourant.jpeg' %}); height: 40pc; background-size: cover; background-position: center; background-repeat: no-repeat;">
            <div class="row align-items-center pt-5 g-0" style="">
                <div class="col-md-6 offset-xl-1 text-center text-md-start">
                    <div class="py-3 px-4 px-sm-5 pe-md-0 ps-xl-4 d-flex flex-column justify-content-center">
                        <p class="text-body fs-xs text-uppercase mb-2">{% translate "Le marketplace du social" %}</p>
                        <h1 class="h2 pb-2"> {% blocktranslate %}
                           Bienvenue sur la marketplace des
                        {% endblocktranslate %}
                            <br>
                            <span style="color: #D71516 !important;">{% blocktranslate %}
                                PERESBONHEURS
                        {% endblocktranslate %}</span>
                        </h1>
                        {% comment %}<a class="btn btn-sm btn-outline-dark" href="#" data-bs-theme="light">Explore</a>{% endcomment %}
                    </div>
                </div>
                <div class="col-md-6 col-xl-5 d-flex justify-content-end">
                    {% comment %} <img src="{% static 'img/pncourant.jpeg' %}" width="491" style="border-radius: 5px !important;" alt="Banner"> {% endcomment %}
                </div>
            </div>
        </section>

        <div class="category-area2">
            <div class="container">
                <h2 class="text-center mt-4 mb-4">{% translate "Nos Catégories" %}</h2>
                <div class="row">
                    {% for category in all_categories %}
                        <div class="col">
                            <a href="{% url 'marketplace:list_product_by_category' category.pk %}">
                                <div class="category-info">
                                    <div class="icon">
                                        <img src="{{category.cover}}" alt="">
                                    </div>
                                    <div class="content">
                                    <h5 class="text-muted">{{category.name}}</h5>
                                    {% comment %} <p>{{category.items_count}} {% translate "Articles" %}</p> {% endcomment %}
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        
        <h1 class="pb-2 pb-sm-3 text-center mt-5 mb-5 my-4">{% translate 'Articles numériques des pères bonheur' %}</h1>
        <section class="container">
            <div class=" row pb-2 pb-sm-4">
            <!-- Sidebar (offcanvas on sreens < 992px) -->
            <aside class="col-lg-3">
                <div class="offcanvas-lg offcanvas-start" id="shopSidebar">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title">{% translate 'Filtres' %}</h5>
                        <button class="btn-close" type="button" data-bs-dismiss="offcanvas"
                                data-bs-target="#shopSidebar" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body pt-2 pt-lg-0 pe-lg-4" style="background-color: whitesmoke; padding: 5%; border-radius: 2%;">
                        <form  hx-get="{% url "marketplace:home" %}" hx-swap="innerHTML" hx-trigger="keyup delay:500ms, change" hx-indicator="#loader" hx-target="#product-list">
                        <h3 class="h5">{% translate 'Catégories' %} <span class="spinner" id="loader"></span></h3>
                        <div class="pb-2">
                            {% for category in categories %}
                                <div class="form-check">
                                    <input class="form-check-input" id="id_filter_category_{{forloop.counter}}" type="checkbox" value="{{ category.slug }}" name="filter_category_{{forloop.counter}}">
                                    <label class="form-check-label d-flex align-items-center" for="id_filter_category">
                                        <span class="text-nav fw-medium">{{ category.name }}</span>
                                        <span class="fs-xs text-body-secondary ms-auto">{{ category.items_count }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                        <h3 class="h5">{% translate 'Prix' %}</h3>
                        <div class="range-slider pb-3 mb-4" data-start-min="{{filter_datas.start_min_price}}" data-start-max="{{filter_datas.start_max_price}}" data-min="{{filter_datas.min_price}}"
                             data-max="filter_datas.max_price" data-step="10" data-tooltip-prefix="€">
                            {% comment %} <div class="range-slider-ui"></div> {% endcomment %}
                            <div class="d-flex">
                                <div class="d-flex align-items-center w-50">
                                    <label class="form-label fs-xs me-2 mb-0"
                                           for="price-min">{% translate 'De' %}</label>
                                    <input class="form-control form-control-sm range-slider-value-min" type="number"
                                           style="max-width: 6rem;" id="price-min" name="filter_price_from">
                                </div>
                                <div class="d-flex align-items-center justify-content-end w-50">
                                    <label class="form-label fs-xs me-2 mb-0"
                                           for="price-max">{% translate 'À' %}</label>
                                    <input class="form-control form-control-sm range-slider-value-max" type="number"
                                           style="max-width: 6rem;" id="price-max" name="filter_price_to">
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </aside>

            <div class="col-lg-9">
                <!-- Active filters + Sorting -->
                <div class="d-flex align-items-start justify-content-between mb-4">
                    {% comment %}<div class="me-3">
                        <div class="nav d-md-none">
                            <a class="nav-link dropdown-toggle fs-sm p-0 mb-2" href="#activeFilters"
                               data-bs-toggle="collapse">Active filters</a>
                        </div>
                        <div class="collapse d-md-block" id="activeFilters">
                            <div class="pt-2 pt-md-0">
                                <a class="d-inline-block border rounded-pill fs-xs fw-medium text-body text-decoration-none py-1 px-2 me-2 mb-2"
                                   href="#">
                      <span class="d-inline-flex align-items-center text-nowrap px-1">
                        Vases<i class="ai-circle-x fs-base ms-1"></i>
                      </span>
                                </a>
                                <a class="d-inline-block border rounded-pill fs-xs fw-medium text-body text-decoration-none py-1 px-2 me-2 mb-2"
                                   href="#">
                      <span class="d-inline-flex align-items-center text-nowrap px-1">
                        Clocks<i class="ai-circle-x fs-base ms-1"></i>
                      </span>
                                </a>
                                <a class="d-inline-block border rounded-pill fs-xs fw-medium text-body text-decoration-none py-1 px-2 me-2 mb-2"
                                   href="#">
                      <span class="d-inline-flex align-items-center text-nowrap px-1">
                        Tither Room<i class="ai-circle-x fs-base ms-1"></i>
                      </span>
                                </a>
                                <a class="d-inline-block border rounded-pill fs-xs fw-medium text-body text-decoration-none py-1 px-2 me-2 mb-2"
                                   href="#">
                      <span class="d-inline-flex align-items-center text-nowrap px-1">
                        $10 - $50<i class="ai-circle-x fs-base ms-1"></i>
                      </span>
                                </a>
                                <button class="btn btn-sm btn-secondary rounded-pill fw-medium py-1 px-2"
                                        type="button">
                                    <span class="px-1">Remove all filters</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center flex-shrink-0 mb-2"><span
                            class="text-body-secondary text-nowrap fs-sm">Sort by:</span>
                        <select class="form-select form-select-flush py-0">
                            <option value="popular">Most popular</option>
                            <option value="low-high">Low-High price</option>
                            <option value="high-low">High-Low price</option>
                            <option value="rating">Average rating</option>
                            <option value="az">A-Z order</option>
                            <option value="za">Z-A order</option>
                        </select>
                    </div>
                    {% endcomment %}
                </div>
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4" id="product-list">
                    {% block product_list %}
                    {% for product in products %}
                        <div class="col pb-2 pb-sm-3 d-flex align-items-stretch" >
                            <div class="card-hover position-relative bg-secondary rounded-1 p-3 mb-4 flex-grow-1 d-flex flex-column">
                                <div>
                                    <a href="{{ product.get_absolute_url }}">
                                        <div class="p-2 p-xl-4">
                                            <img class="d-block mx-auto" src="{{ product.image.url }}" width="226" alt="Product">
                                        </div>
                                    </a>
                                </div>
                                <div class="mt-auto">
                                    <div class="d-flex mb-1">
                                        <h3 class="h6 mb-0">
                                            <a href="#">{{ product.name }}</a>
                                        </h3>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <span class="me-2">{{ product.price }}€</span>
                                        {% if product.price == 0 and product.media %}
                                            {% if product.media %}
                                             <div class="nav ms-auto" data-bs-toggle="tooltip"
                                                data-bs-template="<div class='tooltip fs-xs' role='tooltip'><div class='tooltip-inner bg-light text-body-secondary p-0'></div></div>"
                                                data-bs-placement="left" title="{% translate 'Télécharger' %}">
                                                <a class="py-2 px-2 btn btn-sm btn-outline-primary w-100 w-lg-auto me-2" href="#"
                                                aria-label="{% translate 'Télécharger' %}"
                                                href="{{ product.media.url }}" download="{{ product.name }}">
                                                <i class="ai-download"> </i>
                                                {% translate " Télécharger" %}
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <div class="nav ms-auto" data-bs-toggle="tooltip"
                                                data-bs-template="<div class='tooltip fs-xs' role='tooltip'><div class='tooltip-inner bg-light text-body-secondary p-0'></div></div>"
                                                data-bs-placement="left" title="{% translate 'Ajouter au panier' %}">
                                                <a class="py-2 px-2 btn btn-sm btn-outline-primary w-100 w-lg-auto me-2" href="#"
                                                aria-label="{% translate 'Ajouter au panier' %}"
                                                hx-post="{% url 'marketplace:add_to_cart' product_id=product.pk %}"
                                                hx-target="#cart-count"
                                                hx-trigger="click" hx-swap="innerHTML">
                                                <i class="ai-cart"> </i>
                                                {% translate " Ajouter au panier" %}
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% endblock product_list %}
                </div>

                

                <!-- Pagination -->
                <div class="row gy-3 align-items-center pt-3 pt-sm-4 mt-md-2">
                    {% comment %} <div class="col col-md-4 col-6 order-md-1 order-1">
                        <div class="d-flex align-items-center">
                            <span class="text-body-secondary fs-sm">{% translate "Afficher" %}</span>
                            <select class="form-select form-select-flush w-auto">
                                <option value="12">12</option>
                                <option value="18">18</option>
                                <option value="24">24</option>
                                <option value="30">30</option>
                            </select>
                        </div>
                    </div> {% endcomment %}
                    <div class="col col-md-4 col-12 order-md-2 order-3 text-center">
                        {% if products.has_next %}
                        <a href="?page={{ products.next_page_number }}" class="btn btn-primary w-md-auto w-100" type="button">{% translate 'Voir plus' %}</a>
                        {% endif %}
                    </div>
                    <div class="col col-md-4 col-6 order-md-3 order-2">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-sm justify-content-end">
                                {% if products.has_previous %}
                            <li class="page-item">
                                <a class="page-link bg-secondary text-white" href="?page={{ products.previous_page_number }}"><i class="bi bi-arrow-left"></i></a>
                            </li>
                        {% endif %}
                        {% for num in products.paginator.page_range %}
                            {% if products.number == num %}
                                <li class="page-item page-active"><a class="page-link bg-primary text-white" href="?page={{ num }}" class="active">{{ num }}</a></li>
                            {% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
                                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- Lien vers la page suivante -->
                        {% if products.has_next %}
                            <li class="page-item">
                                <a class="page-link bg-secondary text-white"  href="?page={{ products.next_page_number }}"><i class="bi bi-arrow-right"></i></a>
                            </li>
                       {% comment %} {% else %}
                            <li class="disabled"><span>Suivant &raquo;</span></li>{% endcomment %}
                        {% endif %}
                        
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        </section>
        
    </section>
{% endblock %}
