{% extends "layouts/marketplace.html" %}
{% load i18n %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@24.3.6/build/css/intlTelInput.css">
<link rel="stylesheet" href="{% static 'country/css/countrySelect.min.css' %}">
{% endblock extra_styles %}

{% block content %}
      <div class="d-none d-lg-block bg-secondary position-fixed top-0 start-0 h-100" style="width: 52.5%;"></div>

      <form class="needs-validation container position-relative z-2 pt-5 pb-lg-5 pb-md-4 pb-2" novalidate action="{% url "marketplace:checkout" %}" method=post>
        {% csrf_token %}
        <div class="row">
          <div class="col-lg-6">
            <nav aria-label="breadcrumb">
              <ol class="mt-5 pt-lg-3 pb-md-1 pb-lg-3 breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'marketplace:home' %}"> {% translate "Accueil" %} </a>
                </li>
                <li class="breadcrumb-item">
                  <a href="{% url 'marketplace:home' %}"> {% translate "Marketplace" %} </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page"> {% translate "Commande" %} </li>
              </ol>
            </nav>
            <h1 class="h2 pb-3"> {% translate "Commande / Checkout" %} </h1>
            <h3 class="fs-base fw-normal text-body text-uppercase pb-2 pb-sm-3">
              <span class="ms-1"> {% translate "Détails de la Commande" %} </span>
            </h3>
            <div class="row g-4 pb-4 pb-md-5 mb-3 mb-md-1">
              <div class="col-sm-6">
                <label class="form-label fs-base" for="id_fn"> {% translate "Nom" %} </label>
                <input class="form-control form-control-lg" name="last_name" type="text" placeholder=" {% translate "Entrez votre nom" %} " required id="id_fn">
              </div>
              <div class="col-sm-6">
                <label class="form-label fs-base" for="id_ln">{% translate "Prénom(s)" %}</label>
                <input class="form-control form-control-lg" name="first_name" type="text" placeholder=" {% translate "Entrez vos prénoms" %} " required id="id_ln">
              </div>
              <div class="col-sm-6">
                <label class="form-label fs-base" for="id_email">{% translate "Adresse E-mail" %}</label>
                <div class="position-relative"><i class="ai-mail fs-lg position-absolute top-50 start-0 translate-middle-y ms-3"></i>
                  <input class="form-control form-control-lg ps-5" name="email" type="email" placeholder="{% translate "Entrez votre adresse e-mail" %}" required id="id_email">
                </div>
              </div>
              <div class="col-sm-6">
                <label class="form-label fs-base" for="id_phone">{% translate "Numéro de téléphone" %}</label>
                <div class="position-relative">
                  <input class="form-control form-control-lg ps-5"  name="phone_number" type="tel" id="id_phone">
                </div>
              </div>
              <div class="col-12 d-flex flex-column">
                <label class="form-label fs-base" for="id_country">{% translate "Pays" %}</label>
                <input type="text" class="form-control form-control-lg" name="country" id="id_country" required>
                {% comment %} <select class="form-select form-select-lg" name="country" required id="id_country">
                  <option value="" selected disabled>{% translate "Choisissez le pays de livraison" %}</option>
                  <option value="Australia">Australie</option>
                  <option value="Belgium">Belgque</option>
                  <option value="Canada">Canada</option>
                  <option value="Denmark">France</option>
                  <option value="USA">USA</option>
                </select> {% endcomment %}
              </div>
              <div class="col-sm-6">
                <label class="form-label fs-base" for="id_city">{% translate "Ville" %}</label>
                <input class="form-control form-control-lg"  name="city" type="text" required id="id_city">
                {% comment %} <select class="form-select form-select-lg" name="city" required id="id_city">
                  <option value="" selected disabled>{% translate "Sélectionner une ville" %}</option>
                  <option value="Sydney">Sydney</option>
                  <option value="Brussels">Brussels</option>
                  <option value="Toronto">Toronto</option>
                  <option value="Copenhagen">Copenhagen</option>
                  <option value="New York">New York</option>
                </select> {% endcomment %}
              </div>
              <div class="col-sm-6">
                <label class="form-label fs-base" for="id_zip">{% translate "Code Postal" %}</label>
                <input class="form-control form-control-lg"  name="zip_code" type="text" placeholder="XXX-XXXX" required id="id_zip">
              </div>
              <div class="col-12">
                <label class="form-label fs-base" for="id_address">{% translate "Adresse de facturation" %}</label>
                <input class="form-control form-control-lg" name="address" type="text" required id="id_address">
              </div>
              <div class="col-12">
                <label class="form-label fs-base" for="id_notes">{% translate "Notes sur la commande" %} <span class="text-body-secondary">({% translate "Optionnel" %})</span></label>
                <textarea class="form-control form-control-lg" name="order_notes" rows="5" id="id_notes"></textarea>
              </div>
              <div class="col-12" id="id_shipping_adress">
              {% block shipping_adress %}
                <label class="form-label fs-base" for="id_address">{% translate "Adresse de livraison" %}</label>
                <input class="form-control form-control-lg" name="shipping_adress" type="text" required id="id_shipping-address">
              {% endblock shipping_adress %}
              </div>
            </div>
            <h3 class="fs-base fw-normal text-body text-uppercase mt-n4 mt-md-n3 pt-5 pb-2 pb-sm-3">
              <span class="ms-1">{% translate "Méthode de paiement" %}</span>
            </h3>
            <div class="form-check mb-4">
              <input class="form-check-input" type="radio" value="card" name="payment_method" checked id="card">
              <label class="form-check-label" for="card">
                <span>
                  <span class="d-block fs-base text-dark fw-medium mb-1">{% translate "Carte crédit" %}</span>
                  <span class="text-body">Nous acceptons, Mastercard, Visa</span>
                </span>
              </label>
            </div>
            <div class="form-check mb-4">
              <input class="form-check-input" value="paypal" type="radio" name="payment_method" id="paypal">
              <label class="form-check-label" for="paypal">
                <span>
                  <span class="d-block fs-base text-dark fw-medium mb-1">{% translate "Paypal" %}</span>
                  <span class="text-body">{% translate "Payez avec Paypal" %}</span>
                </span>
              </label>
            </div>
            <!-- Place an order button visible on screens > 991px -->
            <div class="d-none d-lg-block pt-5 mt-n3">
              <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" required id="save-info">
                <label class="form-check-label" for="save-info">
                  <span class="text-body-secondary"> 
                    {% translate "Vos informations personnelles seront utilisés pour traiter votre commande, pour améliorer votre expérience sur MPERESBONHEUR et pour vos futures commandes. Veuillez vous référer à notre politique de confideentialité, pour plus détails..." %}
                  </span>
                </label>
              </div>
              <button class="btn btn-lg btn-primary" type="submit">{% translate "Valider votre commande" %}</button>
            </div>
          </div>

          <!-- Order summary -->
          <div class="col-lg-5 offset-lg-1 pt-1" id="checkout" hx-target="this" hx-trigger="checkout_cart" hx-post="{% url "marketplace:update_checkout" %}" hx-swap="innerHTML">
            {% block checkout_summary %}
            <h2 class="pb-2 pt-md-2 my-4 mt-lg-5">
              Récapitulatif de la commande <br> <span class="fs-base fw-normal text-body-secondary">{% comment %} ({{cart.count}} {% translate "produits" %}){% endcomment %}</span>
            </h2>
           
            <div class="d-sm-flex align-items-center pb-4" id="cart-content">
                <a
                        class="d-inline-block flex-shrink-0 bg-secondary rounded-1 p-sm-2 p-md-3 mb-2 mb-sm-0"
                        href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}"
                                                                        width="110"
                                                                        alt="Product"></a>
                <div class="w-100 pt-1 ps-sm-4">
                    <div class="d-flex">
                        <div class="me-3">
                            <h3 class="h5 mb-2">
                                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                            </h3>
                            <div class="d-sm-flex flex-wrap my-4">
                                <div class="text-body-secondary fs-sm me-3">
                                    {% translate "Quantité" %} : <span class="text-dark fw-medium"> 1</span>
                                </div>
                            </div>
                            <div class="d-sm-flex flex-wrap">
                                <div class="text-body-secondary fs-sm me-3">
                                    {% translate "Catégories" %} : <span class="text-dark fw-medium">
                                        {% for cat in product.category.all %}
                                        <span>{{ cat }} {{ forloop.last|yesno:', - ' }}</span>
                                        {% endfor %}
                                    </span>
                                </div>
                                
                            </div>
                        </div>
                        <div class="text-end ms-auto">
                            <div class="fs-5 mb-2">{{ product.price|floatformat:2 }} €</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <ul class="list-unstyled py-3 mb-0">
              <li class="d-flex justify-content-between mb-2">
                {% translate "Total H.T" %}:<span class="fw-semibold ms-2">{{product.price|floatformat:2}} €</span>
              </li>
              {% comment %} <li class="d-flex justify-content-between mb-2">
                {% translate "Frais de livraison" %}:<span class="fw-semibold ms-2">{{shipping_fees}} €</span>
              </li> {% endcomment %}
            </ul>
            <div class="d-flex align-items-center justify-content-between border-top fs-xl pt-4">
              {% translate "Total T.T.C" %} (TVA 5.5%) :<span class="fs-3 fw-semibold text-dark ms-2">{{total_amount|floatformat:2}} €</span>
            </div>
            {% endblock checkout_summary %}
          </div>
        </div>

        <!-- Place an order button visible on screens < 992px -->
        <div class="d-lg-none pb-2 mt-2 mt-lg-0 pt-4 pt-lg-5">
          <div class="form-check mb-4">
            <input class="form-check-input" type="checkbox" checked id="save-info2">
            <label class="form-check-label" for="save-info2">
                <span class="text-body-secondary"> 
                    {% translate "Vos informations personnelles seront utilisés pour traiter votre commande, pour améliorer votre expérience sur MPERESBONHEUR et pour vos futures commandes. Veuillez vous référer à notre politique de confideentialité, pour plus détails..." %}
                  </span>
              </label>
          </div>
          <button class="btn btn-lg btn-primary w-100 w-sm-auto" type="submit">{% translate "Valider votre commande" %}</button>
        </div>
      </form>

      <script>
        document.addEventListener('htmx:update_checkout', function(){
            console.log("update_checkout")
        })
      </script>
      
{% endblock content %}

{% block extra_scripts %}
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@24.3.6/build/js/intlTelInput.min.js"></script>
 <script src="{% static 'country/js/countrySelect.min.js' %}"></script>
    <script>
      const input = document.querySelector("#id_phone");
      window.intlTelInput(input, {
        utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@24.3.6/build/js/utils.js",
      });
      $("#id_country").countrySelect();
    </script>

{% endblock extra_scripts %}
