{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


   

    <!-- Page Header End -->
   
            
       
            <div class="owl-carousel header-carousel p-0 mb-5">
                <div class="owl-carousel-item position-relative img-fluid" style="background: url('{% static 'img/bgev.jpg'%}') no-repeat; background-size: cover;">
                    <div class="top-0 start-0 w-100 h-100 d-flex align-items-center">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8 text-white">
                                    <h1 class="display-2 text-white animated slideInDown mb-4">{% trans "Découvrez l'évolution du père Noël "%}</h1>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
       


                <div class="container-xxl py-5">
                    <div class="container">
                        <div class="row g-5 align-items-center">
                            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                                <h1 class="mb-4" style="color: #bf8f52;">{% trans "La renaissance d’une Légende "%}</h1>
                        <p>{% trans "Le mythe naît d’un conte et il n’est point facile de le faire évoluer, lorsqu’il est déjà bien ancré dans les coutumes. Ainsi, l’auteure et innovatrice, Lyllah ROZ, contribue à le faire évoluer sous sa plume, tout comme l’a fait le pasteur Clément Clarke Moore en offrant aux enfants ainsi qu’aux adultes un conte en trois tomes.  "%}</p>
                        <p class="mb-4">{% trans " Ce conte permet d’inclure les voitures électriques volantes, les drones, les vaisseaux spatiaux et biens d’autres éléments et personnages fantastiques dans la Légende. À travers ces contes, l’auteure associe l’imagerie du personnage fantastique au réel. Cette métamorphose permet d’ouvrir un segment de marché de différents produits (tenues, voitures, drones et autres produits dérivés). "%}</p>
                              <p class="mb-4">{% trans " Quant aux personnages et décors fantastiques, ils ont été étudiés pour la production cinématographique et les jeux vidéo pour occuper les tout petits et leur tenir compagnie."%}</p>
                               
                            </div>
                            <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <img class="img-fluid w-75 rounded-circle bg-light p-2 " src="{% static 'img//bague.jpg'%}" style="height: 100%; width: 100%;">
                                    </div>
                                    <div class="col-6 text-start" style="margin-top: -150px;">
                                        <img class="img-fluid w-100 rounded-circle bg-light p-2 mt-5" src="{% static 'img/bg.jpg'%}" alt="">
                                    </div>
                                    <div class="col-6 text-end" style="margin-top: -150px;">
                                        <img class="img-fluid w-100 rounded-circle bg-light p-2 mt-5" src="{% static 'img/bg3.jpg'%}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container wow fadeInUp" style="display: flex; align-items: center; justify-content: center;">
           <img src="{% static 'img/ev.jpg'%}" alt="" style="width: 100%; height:100% ;" >
                    </div>
    </div>
    <!-- About End -->


   


   


   


    <!-- Back to Top -->
</div>
{% endblock content %} 