{% load static %}
{% load i18n %}
   <!-- Footer Start -->
   <div id="contact" class="container-fluid  text-white-50 footer  wow fadeIn" style="background-color:#bf8f52;" data-wow-delay="0.1s">
      <div class="container py-5 text-white">
          <div class="row g-5">
              <div class="col-lg-3 col-md-6">
                  <h3 class="text-white mb-4">{% trans "Contact"%}</h3>
                  <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>NOBPRINT <br> Antilles Info 
                    <br> Groupe Ozanam <br> Bois d’Inde B7 – P6 <br> 97232 LAMENTIN</p>
                   
                  <div class="d-flex pt-2">
                    <h3 class="text-white mb-4">{% trans "reseaux sociaux/"%}</h3>
                      <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/les2peresnoel/"><i class="fab fa-facebook-f"></i></a>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h3 class="text-white mb-4">{% trans "Liens"%}</h3>
                  <a class="btn btn-link text-white-50" href="{% url 'about' %}">{% trans "A propos"%}</a>
                  <!--p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+ 596 596 502 343</p>
                  <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+596 696 321 202</p-->
                  <p class="mb-2"><i class="fa fa-envelope me-3"></i>contact@les2peresnoel.com</p>
                  
                 
              </div>
             
                 <div class="col-lg-3 col-md-6">
               <h3 class="text-white mb-4"> <a href="{% url 'gallerie' %}"> {% trans "Gallerie Photo" %}</a> </h3>
                  <div class="row g-2 pt-2">
                      <div class="col-4">
                          <img class="img-fluid rounded bg-light p-1" src="{% static 'img/c1.jpg'%}" alt="">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid rounded bg-light p-1" src="{% static 'img/g3.jpg'%}" alt="">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid rounded bg-light p-1" src="{% static 'img/g4.jpg'%}" alt="">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid rounded bg-light p-1" src="{% static 'img/g5.jpg'%}" alt="">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid rounded bg-light p-1" src="{% static 'img/g6.jpg'%}" alt="">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid rounded bg-light p-1" src="{% static 'img/h1.jpg'%}" alt="">
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-6">
                  <h3 class="text-white mb-4">{% trans "Mails"%}</h3>
                  <p>{% trans "Envoyer-nous un petit email"%}</p>
                  <div class="position-relative mx-auto" style="max-width: 400px;">
                      <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                      <button type="button" class="btn btn-white py-2 position-absolute top-0 end-0 mt-2 me-2">{%trans "SignUp"%}</button>
                  </div>
              </div>
          </div>
      </div>
     
  </div>
  <!-- Footer End -->
 