{% extends 'layouts/comicstyle.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!-- BANNER AREA START -->
    <section id="banner">
        {% comment %} <div id="backtotop">
            <a href="#banner" id="backtotop-value"><i class="fa-solid fa-arrow-up"></i></a>
        </div> {% endcomment %}
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 banner-txt">
                    {% comment %} <span>MPERESBONHEUR</span> {% endcomment %}
                    <h3 class="pb-2">La Renaissance</h3>
                    <h3 class="pb-2">D'une </h3>
                    <h3 class="txt-pos pt-3">Légende !</h3>
                    <a href="{% url 'legend_rebirth' %}" class="button-primary"><i class="fa-solid fa-eye"></i> Lire</a>
                    
                </div>
                <div class="col-10 col-sm-11 col-md-7 col-lg-6 banner-images">
                    <img src="{% static 'img/bgb.jpg' %}" alt="banner-img" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <div class="col">
                        <div class="col-lg-6 m-auto text-center">
                            <span>Qui sommes-nous ?</span>
                            <h3>{% blocktrans %}PERES BONHEUR{% endblocktrans %}</h3>
                            <p class="pt-2 pb-4">
                                {% blocktrans %}
                                 La Marketplace qui permet aux vendeurs de s'accoutumer à la Renaissance de la Légende adaptée aux nouvelles technologies et à notre ère
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row py-4 my-4 align-items-center">
                    <div class="col-lg-5 col-md-9 m-md-auto about-main">
                        <img src="{% static 'img/bgv.jpg' %}" alt="about-img" class="img-fluid h-100">
                    </div>
                    <div class="col-lg-6">
                        <div class="about-txt">
                            <span>Chers vendeurs</span>
                            {#                            <h3>.</h3>#}
                            <p class="pt-2 pb-4">Vendre vos créations n'a jamais été aussi simple.</p>
                            <div class="check-p">
                                <p>
                                    <i class="fa-solid fa-check"></i>
                                    En vendant vos produits sur notre plate-forme vous permettez aux utilisateurs de découvrir tous vos produits. 
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>
                                    Chaque vendeur se détermine dans son propre magasin et non dans un espace "fourre tout"
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>
                                    Notre plateforme intuitive vous permet de gérer vos
                                    ventes en quelques clics.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-4 py-4 px-md-4 align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-txt">
                            <span>Chers acheteurs </span>
                            {#                            <h3>.</h3>#}
                            <p class="pt-2 pb-4">Soutenez le talent et l'artisanat en achetant sur notre marketplace</p>
                            <div class="check-p">
                                <p><i class="fa-solid fa-check"></i> En achetant sur notre plateforme, vous faites plus
                                    qu'acquérir un produit, vous participez à un projet solidaire. </p>
                                <p><i class="fa-solid fa-check"></i> Chaque achat contribue à faire perdurer la légende et conserver votre part de marché.</p>
                                {% comment %}<p><i class="fa-solid fa-check"></i> Des contes enchanteurs aux mélodies envoûtantes, en
                                    passant par des livres inspirants, trouvez l'œuvre qui vous correspond parmi notre
                                    vaste catalogue.</p>{% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 about-main">
                        <img src="{% static 'img/p4.jpg' %}" alt="about-img" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <section id="">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <div class="row">
                        <div class="col-lg-6 m-auto text-center">
                            <span>{% trans "Découvrez" %}</span>
                            <h3>{% trans "Nos produits" %}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row comic-item-pos">
                <div class="col-lg-6 col-md-6 mobile-m-auto">
                    <div class="comic-item">
                        <img src="{% static 'img/bg3.jpg' %}" alt="comic" class="img-fluid">
                        <a class="veno-img" data-gall="comic1" href="{% static 'img/bg3.jpg' %}"><i
                                class="fa-solid fa-plus"></i></a>
                        <div class="comic-item-details">
                            <div class="row">
                                <div class="col-8 col-lg-8">
                                    <h3>{% blocktrans %}Bonheur{% endblocktrans %}</h3>
                                    {#<p><i class="fa-solid fa-eye"></i> 250.6K Reviews</p>#}
                                </div>
                                {% comment %} <div class="col-4 col-lg-4 text-end">
                                    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mobile-m-auto">
                    <div class="comic-item active">
                        <img src="{% static 'img/bgm.jpg' %}" alt="comic" class="img-fluid">
                        <a class="veno-img" data-gall="comic1" href="{% static 'img/bgm.jpg' %}"><i
                                class="fa-solid fa-plus"></i></a>
                        <div class="comic-item-details">
                            <div class="row">
                                <div class="col-8 col-lg-8">
                                    <h3>{% blocktrans %}Hors Bonheur{% endblocktrans %}</h3>
                                    {#<p><i class="fa-solid fa-eye"></i> 168.2K Reviews</p>#}
                                </div>
                                {% comment %} <div class="col-4 col-lg-4 text-end">
                                    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                {% comment %} <div class="col-lg-4 col-md-8 mobile-m-auto">
                    <div class="comic-item">
                        <img src="{% static 'img/g5.jpg' %}" alt="comic" class="img-fluid">
                        <a class="veno-img" data-gall="comic1" href="{% static 'img/g5.jpg' %}"><i
                                class="fa-solid fa-plus"></i></a>
                        <div class="comic-item-details">
                            <div class="row">
                                <div class="col-8 col-lg-8">
                                    <h3>Nos nouveautés</h3>
                                    {#										<p><i class="fa-solid fa-eye"></i> 124.7K Reviews</p>#}
                                </div>
                                {% comment %} <div class="col-4 col-lg-4 text-end">
                                    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                                </div> {% #endcomment %}
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </section>
    <section class="mt-4 mb-4">
        <div class="section-title mt-4 mb-4">
            <div class="row mt-4 mb-4" style="margin-top: 10rem !important; margin-bottom: 5rem !important;">
                <div class="col-lg-6 m-auto text-center">
                    <span>Le grand sage </span>
                    <h3>CÈDE SA PLACE</h3>
                    <p class="pt-2 pb-4 text-center">mais supervise.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-9 m-md-auto about-main">
                    <img src="{% static 'img/h1.jpg' %}" alt="about-img" class="img-fluid h-100">
                </div>
            </div>
            <div class="row my-4">
                <div class="col-lg-6 m-auto text-center">
                    <a href="{% url 'sage' %}" class="button-primary"><i class="fa-solid fa-eye"></i> Lire</a>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
