{% extends 'layouts/comicstyle.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <!-- BANNER AREA START -->
    <section id="banner">
        <div id="backtotop">
            <a href="#banner" id="backtotop-value"><i class="fa-solid fa-arrow-up"></i></a>
        </div>
        <div class="container zindex">
            <div class="row">
                <div class="col-lg-6 banner-txt">
                    <span>MPERESBONHEUR</span>
                    <h3>La Renaissance</h3>
                    <h3>D'une </h3>
                    <h3 class="txt-pos">Légende !</h3>
                    <a href="{% url 'legend_rebirth' %}" class="button-primary"><i class="fa-solid fa-eye"></i> Lire</a>
                    {% comment %}<a class="venobox button-circular" data-autoplay="true" data-vbtype="video"
                       href="https://www.youtube.com/watch?v=kmh1cr3b4Js"><i class="fa-solid fa-play"></i></a>{% endcomment %}
                    {% comment %}<div class="row banner-review">
                        <div class="col-lg-3">
                            <img src="images/user5.png" alt="user" class="one">
                            <img src="images/user1.png" alt="user">
                            <img src="images/user2.png" alt="user">
                        </div>
                        <div class="col-lg-4">
                            <div class="stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star-half-stroke"></i>
                            </div>
                            <p>(409.6K Reviews)</p>
                        </div>
                    </div>{% endcomment %}
                </div>
                <div class="col-10 col-sm-11 col-md-7 col-lg-6 banner-images">
                    {% comment %}<img src="{% static 'theme/main/images/banner-icon.png' %}" alt="banner-icon" class="banner-icon">{% endcomment %}
                    <img src="{% static 'img/bg.jpg' %}" alt="banner-img" class="banner-img one img-fluid">
                    <img src="{% static 'img/p1.jpg' %}" alt="banner-img" class="banner-img two img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- BANNER AREA ENDS -->

    <!-- ABOUT AREA START -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <div class="col">
                        <div class="col-lg-6 m-auto text-center">
                            <span>Qui sommes-nous ?</span>
                            <h3>PERES BONHEUR</h3>
                            <p class="pt-2 pb-4">Un marketplace permettant aux vendeurs et aux acheteurs de contribuer
                                au bonheur des familles en difficulté</p>
                        </div>
                    </div>
                </div>
                <div class="row py-4 my-4 align-items-center">
                    <div class="col-lg-5 col-md-9 m-md-auto about-main">
                        <img src="{% static 'img/bgv.jpg' %}" alt="about-img" class="img-fluid h-100">
                    </div>
                    <div class="col-lg-6">
                        <div class="about-txt">
                            <span>Chers vendeurs</span>
                            {#                            <h3>.</h3>#}
                            <p class="pt-2 pb-4">Vendre vos créations n'a jamais été aussi simple.</p>
                            <div class="check-p">
                                <p>
                                    <i class="fa-solid fa-check"></i>
                                    En vendant vos créations sur notre plateforme, vous
                                    contribuez directement à améliorer la vie de familles en difficulté
                                </p>
                                <p>
                                    <i class="fa-solid fa-check"></i>
                                    Notre plateforme intuitive vous permet de gérer vos
                                    ventes en quelques clics.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-4 py-4 px-md-4 align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-txt">
                            <span>Chers acheteurs </span>
                            {#                            <h3>.</h3>#}
                            <p class="pt-2 pb-4">Soutenez le talent et l'artisanat en achetant sur notre marketplace</p>
                            <div class="check-p">
                                <p><i class="fa-solid fa-check"></i> En achetant sur notre plateforme, vous faites plus
                                    qu'acquérir un produit, vous participez à un projet solidaire. </p>
                                <p><i class="fa-solid fa-check"></i> Chaque achat contribue à améliorer la vie de
                                    familles dans le besoin.</p>
                                {% comment %}<p><i class="fa-solid fa-check"></i> Des contes enchanteurs aux mélodies envoûtantes, en
                                    passant par des livres inspirants, trouvez l'œuvre qui vous correspond parmi notre
                                    vaste catalogue.</p>{% endcomment %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 about-main">
                        <img src="{% static 'img/p4.jpg' %}" alt="about-img" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ABOUT AREA ENDS -->
    {% comment %}    		<!-- BRAND AREA START -->
		<section id="brand">
			<div class="container">
                <h3 class="text-center">Nos partenaires</h3>
				<div class="row">
					<div class="col-lg-3">
						<img src="{% static 'theme/main/images/brand1.png' %}" alt="brand-img" class="img-fluid">
					</div>
					<div class="col-lg-3">
						<img src="{% static 'theme/main/images/brand2.png' %}" alt="brand-img" class="img-fluid">
					</div>
					<div class="col-lg-3">
						<img src="{% static 'theme/main/images/brand3.png' %}" alt="brand-img" class="img-fluid">
					</div>
					<div class="col-lg-3">
						<img src="{% static 'theme/main/images/brand1.png' %}" alt="brand-img" class="img-fluid">
					</div>
					<div class="col-lg-3">
						<img src="{% static 'theme/main/images/brand2.png' %}" alt="brand-img" class="img-fluid">
					</div>
				</div>
			</div>
		</section>
		<!-- BRAND AREA END -->
{% endcomment %}
    <!-- NEW_COMICS AREA START -->
    <section id="">
        <div class="container">
            <div class="row">
                <div class="section-title">
                    <div class="row">
                        <div class="col-lg-6 m-auto text-center">
                            <span>{% trans "Découvrez" %}</span>
                            <h3>{% trans "Nos produits" %}.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row comic-item-pos">
                <div class="col-lg-4 col-md-8 mobile-m-auto">
                    <div class="comic-item">
                        <img src="{% static 'img/bg3.jpg' %}" alt="comic" class="img-fluid">
                        <a class="veno-img" data-gall="comic1" href="{% static 'img/bg3.jpg' %}"><i
                                class="fa-solid fa-plus"></i></a>
                        <div class="comic-item-details">
                            <div class="row">
                                <div class="col-8 col-lg-8">
                                    <h3>Nos contes</h3>
                                    {#<p><i class="fa-solid fa-eye"></i> 250.6K Reviews</p>#}
                                </div>
                                {% comment %} <div class="col-4 col-lg-4 text-end">
                                    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 mobile-m-auto">
                    <div class="comic-item active">
                        <img src="{% static 'img/bgm.jpg' %}" alt="comic" class="img-fluid">
                        <a class="veno-img" data-gall="comic1" href="{% static 'img/bgm.jpg' %}"><i
                                class="fa-solid fa-plus"></i></a>
                        <div class="comic-item-details">
                            <div class="row">
                                <div class="col-8 col-lg-8">
                                    <h3>Nos musiques</h3>
                                    {#<p><i class="fa-solid fa-eye"></i> 168.2K Reviews</p>#}
                                </div>
                                {% comment %} <div class="col-4 col-lg-4 text-end">
                                    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8 mobile-m-auto">
                    <div class="comic-item">
                        <img src="{% static 'img/g5.jpg' %}" alt="comic" class="img-fluid">
                        <a class="veno-img" data-gall="comic1" href="{% static 'img/g5.jpg' %}"><i
                                class="fa-solid fa-plus"></i></a>
                        <div class="comic-item-details">
                            <div class="row">
                                <div class="col-8 col-lg-8">
                                    <h3>Nos nouveautés</h3>
                                    {#										<p><i class="fa-solid fa-eye"></i> 124.7K Reviews</p>#}
                                </div>
                                {% comment %} <div class="col-4 col-lg-4 text-end">
                                    <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-4 mb-4">
        <div class="section-title mt-4 mb-4">
            <div class="col">
                <div class="col-lg-6 m-auto text-center">
                    <span>Le grand sage </span>
                    <h3>CÈDE SA PLACE</h3>
                    <p class="pt-2 pb-4">mais supervise.</p>
                </div>
            </div>
            <div class="col">
                <div class="col-lg-5 col-md-9 m-md-auto about-main">
                    <img src="{% static 'img/h1.jpg' %}" alt="about-img" class="img-fluid h-100">
                </div>
            </div>
            <div class="col my-4">
                <div class="col-lg-6 m-auto text-center">
                    <a href="{% url 'sage' %}" class="button-primary"><i class="fa-solid fa-eye"></i> Lire</a>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
