{% extends "layouts/comicstyle.html" %}
{% load static %}

{% block content %}
    <section class="py-4 my-4">
        <div class="container pt-4 mt-4">
            <h1 class="txt-pos text-center mt-4 mb-4">Renaissance d'une légende </h1>
            <p class="pt-2 pb-4">
                Suite aux nouvelles propositions émises concernant le bannissement du terme « Noël » pour que les fêtes
                de fin d’années soit dénouées de toutes connotations religieuses ; face aux évolutions culturelles de
                notre ère et aux progrès des nouvelles technologies ainsi que le désir d’établir un monde multiculturel,
                <span class="fw-bold">la nécessité de l’évolution du Père noël s’impose en effet</span>.
                Tout comme l’ont fait nos prédécesseurs Clement Clarke Moore, Thomas NAST et bien d’autres, à travers
                leurs œuvres littéraires et/ou artistiques, l’auteur Lyllah ROZ participe, à son tour,
                <span class="fw-bold"> à l’évolution de la légende de Noël</span>.
                Dès 1999, elle procède à son évolution pour l’adapter aux pays du sud, au climat tropical et aux
                nouvelles technologies pour l’étendre à diverses cultures.
                Les termes et expressions noël, Père noël, fêtes de noël semblent ne plus être souhaitables bien que
                laïque depuis 1951. Le Vatican reconnait que c’est au IVe siècle que le pape Libère (352-366)
                <span class="fw-bold">instaura
                la solennité de la Nativité, afin de christianiser la fête du solstice d’hiver, le Sol Invictus</span>
                et que
                la nativité du Christ n’est pas située au
                <span class="fw-bold">25 décembre de l’an I, comme le veut la tradition</span>.
                L’auteur a résolu le dilemme en renommant la légende à travers un concept, de la littérature et musique.
                Ainsi les termes relatifs à Noël peuvent être remplacés par ceux de : Père Bonheur, fêtes de bonheur
                et/ou Bonheur. A la place de l’expression c’est Noël, il sera possible d’utiliser :« C’est Bonheur ».

            </p>
            <h2 class="my-4">
                Pourquoi Père Bonheur ?
            </h2>
            <div class="row py-4 my-4 align-items-center">
                {% comment %}<div class="col-lg-5 col-md-9 m-md-auto">
{#                    <img src="{% static 'img/2fils.png' %}" alt="about-img" class="img-fluid h-100 rounded-3">#}
                </div>{% endcomment %}
                <div class="col-lg-6">
                    <div class="about-txt">
{#                        <span>Le Grand Sage</span>#}
                        <div class="pt-2 pb-4">
                            Le concept créé par l’auteur ne s’arrête pas à une appellation, mais fait appel à diverses
                            actions qui permettent d’apporter joie, partage et bonheur autour de soi.
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="my-4">Pourquoi avoir créé un second personnage ?</h2>
            <div class="row py-4 my-4 align-items-center">
                <div class="col-lg-5 col-md-9">
                    <img src="{% static 'img/pb.png' %}" alt="about-img" class="img-fluid h-100 rounded-3">
                </div>
                <div class="col-lg-6">
                    <div class="about-txt">
{#                        <span>Le Grand Sage</span>#}
                        <div class="pt-2 pb-4">
                            La tenue du personnage existant était adaptée uniquement aux pays du Nord où le froid est
                            rigoureux, mais non adéquate pour les pays du sud au climat tropical qui avoisinent 25 à 35 °
                            Celsius et plus.
                            <h4 class="fw-bold">La photo visible à gauche du texte</h4> a été prise dans un centre commercial climatisé. Elle
                            démontre qu’en plus de la climatisation, le personnage a en sus un ventilateur à cause de la
                            chaleur et que le mythe n’est nullement adapté aux pays du sud en portant une tenue d’hiver
                            en pleine chaleur. L’histoire donc semble saugrenue.
                            Ainsi, la création du Père Bonheur Sud répond s’adapte aux pays du Sud au climat tropical et
                            aux besoins des populations.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
