{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="owl-carousel header-carousel ">
    <div class="owl-carousel-item position-relative img-fluid" style="background: url('{{ livre.file.url}}') no-repeat; background-size: cover;">
        <div class="top-0 start-0 w-100 h-100 d-flex align-items-center">
            
        </div>
    </div>
    </div>

<!-- Carousel End -->



<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-2 text-center animated slideInDown mb-4" style="color: #cf3231;">Livre & Contes de noël</h1>
            <h1 class="mb-3 text-center" style="color: #bf8f52;"> 
                <a href="{% url 'boutique' %}" style="color: #cf3231;">Boutique</a> /Livres</h1>
        </div>
        <div class="row g-4">
            {% for book in random_books %}
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
           
                <div class="classes-item">
                    <div class="bg-light">
                       <a href="{% url 'livre_detail' livre_id=book.id %}"> <img class="img-fluid rounded" src="{{ book.file.url }}" alt=""></a>
                    </div>
                    <div class="bg-light rounded text-center">
                        <a class="d-block  h3 mt-3 mb-4" href="" style="color: #bf8f52;">{{ book.nom }}</a>
                        
                           <p class="class=d-block h3 mt-3 mb-4" style="color: #bf8f52;">Pour:{{ book.age }}</p>
                              <a href="#">Télécharger</a>
                       
                    </div>
                </div>
               
            </div>
            {% endfor %}
               
            </div>
        </div>
    </div>
{% endblock content %}