{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="owl-carousel header-carousel ">
    <div class="owl-carousel-item position-relative img-fluid" style="background: url('{% static 'img/bgm.jpg'%}') no-repeat; background-size: cover;">
        <div class="top-0 start-0 w-50 h-50 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-start">
                    <div class="col-10 col-lg-8 text-white">
                        <h1 class="display-2 text-center animated slideInDown mb-4" style="color: #cf3231;">Chants de Noël</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

<!-- Carousel End -->


<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="mb-3 text-center" style="color: #bf8f52;"> 
                <a href="{% url 'boutique' %}" style="color: #cf3231;">Boutique</a> /Musiques</h1>
        </div>
        <div class="row g-4">
            {% for musik in random_musik %}
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="classes-item">
                    <div class="bg-light">
                        {% if musik.cover_image %}
                       <a href="{% url 'musique' %}"> <img class="img-fluid rounded" src="{{ musik.cover_image.url }}" alt="Photo de couverture"></a>
                       {% endif %}
                    </div>
                    <div class="bg-light rounded text-center ">
                        <a class="d-block h3 mt-3 mb-4" href="" style="color: #bf8f52;">{{ musik.nom }}</a>
                        <p class="d-block h3 mt-3 mb-4" style="color: #bf8f52;">Pour:{{ musik.age }}</p>
                              <a href="{{ book.file.url }}">Télécharger</a>
                       
                    </div>
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}