{% load static %}
 


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg  navbar- sticky-top px-4 px-lg-5 py-lg-0" style="background-color: #cf3231;">
 <ul><li><img src="{% static 'img/logo.jpg'%}" style="width: 50px; height: 50px;"></li></ul>
   <a href="{% url 'index' %}" class="navbar-brand">
      <h1 class="m-0 text-white" style="padding: 10px;"><i class=" me-3"></i>   les2Pèresnoël</h1>
   </a>
   <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
       <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarCollapse">
       <div class="navbar-nav mx-auto ">
           <a href="{% url 'index' %}" class="nav-item nav-link text-white">Home</a>
           <a href="{% url 'boutique' %}" class="nav-item nav-link text-white">Boutique</a>
           <div class="nav-item dropdown">
            <a href="" class="nav-link dropdown-toggle active text-white" data-bs-toggle="dropdown">A propos</a>
            <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
                <a href="{% url 'about' %}" class="dropdown-item ">Background du projet</a>
                <a href="{% url 'prqw2pn' %}" class="dropdown-item ">Pourquoi 2 Pères noël?</a>
                <a href="{% url 'birth' %}" class="dropdown-item">Naissance du père noël</a>
                <a href="{% url 'evolution' %}" class="dropdown-item"> Evolution du père noël</a>
               
            </div>
        </div>
           
           <a href="{% url 'signup' %}" class="nav-item nav-link text-white">Connexion</a>
           <a href="classes.html" class="nav-item nav-link text-white">Licence</a>
       </div>
       <a href="#contact" class="btn btn-lg bg-white text-danger rounded-pill px-3 d-none d-lg-block ">Contact<i class=""></i></a>
   </div>
</nav>
<!-- Navbar End -->
