{% extends "layouts/comicstyle.html" %}
{% load static %}

{% block content %}
    <section class="py-4 my-4">
        <div class="container pt-4 mt-4">
            <h1 class="txt-pos text-center mt-4 mb-4">Qui est le Grand Sage ? </h1>
            <div class="row py-4 my-4 align-items-center">
                <div class="col-lg-5 col-md-9 m-md-auto">
                    <img src="{% static 'img/bgv.jpg' %}" alt="about-img" class="img-fluid rounded-3 h-100">
                </div>
                <div class="col-lg-6">
                    <div class="about-txt">
                        <span>Le Grand Sage</span>
                        <p class="pt-2 pb-4 text-justify">
                            Le Grand sage n’est autre que l’ex-personnage du mythe Père noël devenu le Grand Père
                            Bonheur
                            qui est surnommé « Grand sage ».
                        </p>
                        <p class="pt-2 pb-4 text-justify">
                            Il devient un personnage mystérieux pas facile à rencontrer sur terre. Ainsi lorsqu’on a la
                            chance de l’apercevoir et mieux le rencontrer, il peut apporter surprise et bonheur.
                        </p>
                    </div>
                </div>
            </div>
            <h2 class="my-4">Quelles sont les fonctions du Grand Sage ?</h2>
            <p class="pt-2 pb-4 text-justify">
                Le "Père Bonheur Grand sage" choisit les papas des enfants qui seront les représentants, sur terre, des
                "Père Bonheur Nord" et "Père Bonheur Sud".
                (Fait qui permet d’avoir plusieurs Pères Bonheur dans les rues et magasins).
            </p>
            <h2 class="my-4">
                À qui le Grand sage cède-t-il sa place ?
            </h2>
            <div class="row py-4 my-4 align-items-center">
                <div class="col-lg-5 col-md-9 m-md-auto">
                    <img src="{% static 'img/2fils.png' %}" alt="about-img" class="img-fluid h-100 rounded-3">
                </div>
                <div class="col-lg-6">
                    <div class="about-txt">
                        <span>Le Grand Sage</span>
                        <div class="pt-2 pb-4 text-justify">
                            Le Père Bonheur Grand Sage cède sa place à deux fils. L’un destiné à desservir les pays du
                            Nord
                            et
                            l’autre à
                            desservir les pays du sud au climat tropical.
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="my-4">Quelles sont les fonctions des fils du Grand sage ?</h2>
            <h4>A. Fonctions du « Père Bonheur Nord »</h4>
            <p class="pt-2 pb-4 text-justify">
                Le "Père Bonheur Nord" distribue les cadeaux aux enfants de l’hémisphère Nord dans son costume de fêtes
                (rouge et blanc)
            </p>
            <p class="pt-2 pb-4 text-justify">
                Les enfants des pays du nord peuvent demander un cadeau au "Père Bonheur Sud" qui les remet au "Père
                Bonheur
                Nord"
            </p>
            <h4>B. Fonctions du « Père Bonheur Sud »</h4>
            <p class="pt-2 pb-4 text-justify">
                Le "Père Bonheur Sud" distribue les cadeaux aux enfants de l’hémisphère Nord dans son costume de fêtes
                (banc
                cassé et doré
            </p>
            <p class="pt-2 pb-4 text-justify">
                Les enfants des pays du sud peuvent demander un cadeau au "Père Bonheur Nord" qui les remet au "Père
                Bonheur
                Sud".
            </p>
            <h2>Quelles sont les missions des Pères Bonheur pour les Grands ?</h2>
            <p> Les « Grands » représentent les personnes adultes. </p>
            <div class="check-p">
                <p class="text-justify">
                    <i class="fa-solid fa-check"></i>
                    Hors période des fêtes de Bonheur, les Pères Bonheur Nord et Sud participent à des actions sociales
                    auprès
                    des grands qui représentent des familles en détresse dans les cas où aucun organisme social ne peut
                    intervenir ;
                </p>
                <p class="text-justify">
                    <i class="fa-solid fa-check"></i>
                    Ils s’organisent pour se prêter mains fortes, lors de catastrophes et consoler les enfants et
                    adultes en
                    leur apportant des aides matérielles et/ou financières.
                </p>
                <p class="text-justify">
                    <i class="fa-solid fa-check"></i>
                    IIls étudient dans leur village respectif, les événements et activités qui se font au cours de
                    l’année
                    et ceux à venir pour les périodes de fêtes ;
                </p>
                <p class="text-justify">
                    <i class="fa-solid fa-check"></i>
                    Ils traitent les demandes des personnes en détresse ;
                </p>
                <p>
                    <i class="fa-solid fa-check"></i>
                    Ils traitent les courriers arrivés des enfants.
                </p>
                <p class="text-justify">
                    <i class="fa-solid fa-check"></i>
                    Les deux Pères Bonheur s’entendent à merveille, travaillent de concert et suivent les conseils du
                    Grand
                    sage.
                </p>
            </div>
        </div>
    </section>
{% endblock %}
